APP_ENV=dev
APP_DEBUG=1
APP_URL=http://127.0.0.1:8000
MAIL_FROM=no-reply@avenir-pro.test
MAIL_FROM_NAME=Avenir Pro
AUTH_AUTO_CREATE=1
AUTH_DEFAULT_ROLE=student
MAGIC_LINK_TTL_MINUTES=20
SESSION_LIFETIME_DAYS=30
SIRENE_API_BASE_URL=https://recherche-entreprises.api.gouv.fr
SIRENE_API_TIMEOUT_SECONDS=10
SIRENE_API_USER_AGENT=AvenirPro/1.0
ONISEP_DATASET_API_URL=https://www.data.gouv.fr/api/1/datasets/ideo-metiers-onisep/
ONISEP_TIMEOUT_SECONDS=20
ONISEP_USER_AGENT=AvenirPro/1.0
REVIVAL_START_MONTH=9
REVIVAL_START_DAY=1
REVIVAL_REMINDER_DELAY_DAYS=3
REVIVAL_MAX_EMAILS=3
NETTOYAGE_MONTH=7
NETTOYAGE_DAY=15

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=avenir_pro
DB_USER=root
DB_PASS=change_me
